@using Nop.Web.Models.Common
@model Nop.Web.Models.Common.FaqViewModel
@{
    Html.AppendCssFileParts("~/css/sinswap/vendor_style.css");
}

<div class="container-fluid faqItemContainer">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-3 faqMenu">
                        <ul>
                            @foreach(var catfaq in Model.CategoryFaqs) {
                                <li><a href="#cat_@catfaq.Title">@catfaq.Title</a></li>
                            }
                        </ul>
                    </div>
                    <div class="col-9 faqItems">
                        <div class="container-fluid">
                            @foreach(var catfaq in Model.CategoryFaqs)
                            {
                                <div class="faqItemsContainer">
                                    <div id="cat_@catfaq.Title" class="row">
                                        <div class="col-12">
                                            <h3>@catfaq.Title</h3>
                                        </div>
                                    </div>
                                    @*@foreach(var faq in Model.CategoryFaqViewModels.Where(x=>x.CategoryFaqId == catfaq.CategoryFaqId).ToList())
                                    {
                                        <div class="row faqCategoryRow">
                                            <div class="col-6">
                                                <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#faqItemModal">@faq.Title</a>
                                            </div>
                                            <div class="col-6">
                                                <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#faqItemModal">@faq.Title</a>
                                            </div>
                                        </div>
                                    }*@
                                    @for(int i = 0; i < Model.CategoryFaqViewModels.Where(x=>x.CategoryFaqId == catfaq.CategoryFaqId).ToList().Count()-1; i=i+2)
                                    {
                                        var faq1 = Model.CategoryFaqViewModels.Where(x => x.CategoryFaqId == catfaq.CategoryFaqId).ToArray()[i];
                                        var faq2 = Model.CategoryFaqViewModels.Where(x => x.CategoryFaqId == catfaq.CategoryFaqId).ToArray()[i+1];
                                        <div class="row faqCategoryRow">
                                            <div class="col-6">
                                                <a href="#" class="detailed-faq" data-dismiss="modal" data-toggle="modal" data-target="#faqItemModal" data-title="@faq1.Title" data-subtitle="@faq1.SubTitle">@faq1.Title</a>
                                            </div>
                                            <div class="col-6">
                                                <a href="#" class="detailed-faq" data-dismiss="modal" data-toggle="modal" data-target="#faqItemModal" data-title="@faq2.Title" data-subtitle="@faq2.SubTitle">@faq2.Title</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div
                </div>
            </div>
        </div>
    </div>
</div>