@model Nop.Web.Models.Vendors.VendorProductRatingModel
@{
    Html.AppendCssFileParts("~/css/sinswap/vendor_style.css");
}

<div class="col-4 order-2 order-lg-1 col-lg-3 text-left starsContainer">

    <div class="ratingStars">
        @{
            bool hasHalf = @Model.ReviewAvgStars % 1 == 0.5;
        }
        @for (int i = 0; i < Math.Truncate(@Model.ReviewAvgStars); i++)
        {
            <a href="#vendorReviews"><i class="fas fa-star"></i></a>
        }
        @if (hasHalf)
        {
            <a href="#vendorReviews"><i class="fas fa-star-half-alt"></i></a>
        }
        @if (@Model.ReviewAvgStars == 0 || Double.IsNaN(@Model.ReviewAvgStars))
        {
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        }
    </div>

    <div class="ratingStats">
        @if (@Model.NumberOfReviews > 0) {
            <a href="#vendorReviews">@Model.NumberOfReviews Reviews</a>
        } else
        {
            <p>@Model.NumberOfReviews Reviews</p>
        }

        @Model.NumberOfSoldProducts items sold
    </div>
</div>
