@model IList<CategorySimpleModel>

@if (Model.Count > 0)
{
    <div class="container popularCategoriesContainer">
        <div class="row">
            <div class="col-12">
                <h2>Popular categories</h2>
                <div class="flex-row row no-gutters">
                    @foreach (var item in Model)
                    {
                        <div class="col-6 col-lg-3">
                            <div class="categoryCard @{if (!string.IsNullOrEmpty(@item.ParentCategoryName)) {@item.ParentCategoryName.ToLower()}}" style="background-image: url('@item.PictureModel.ImageUrl')">
                                <div class="category"><a href="@Url.RouteUrl("Category", new { SeName = item.SeName })">@item.Name</a></div>
                            </div>
                        </div>
                    }
                    <a href="@Url.Action("CategoryList", "Catalog")" class="more">Check out our 50+ categories...</a>
                </div>
            </div>
        </div>
    </div>
}