@model Nop.Web.Models.Chat.ChatUsersViewModel
@{
    Html.AppendCssFileParts("~/css/sinswap/vendor_style.css");
}

@if (Model != null) {
    <div class="col-12 p-0 chat-users">

        @foreach (var chatUser in Model.ChatUsersModels) {
            <div class="list-group-item list-group-item-action border-0 user-chat" data-url="/getchat/@Model.CustomerId/@chatUser.Id">
                <div class="row">
                    <div class="col-1 p-0 text-center">
                        @if (chatUser.IsRead == null || chatUser.IsRead == false)
                        {
                            <div class="isUnread"></div>
                        }
                    </div>

                    @* <div class="d-none d-md block col-2 p-0 text-center">
                        <div class="avatar" style="background-image: url('@chatUser.PictureUrl')" alt=""></div>
                    </div> *@
                    <img src="@chatUser.PictureUrl" class="rounded-circle mr-1" alt="@chatUser.Name" width="40" height="40">
                    <div class="col-11 col-md-9">
                        <div class="username truncate">@chatUser.Name</div>
                        <div class="excerpt truncate">@chatUser.LatestMessage</div>
                        @if (Model.isTrash)
                        {
                            <button class="btn btn-success chat-resume-btn" data-url="/resumechat" data-user="@Model.CustomerId" data-partner="@chatUser.Id">Untrash</button>
                        }
                        else
                        {
                            <button class="btn btn-danger chat-delete-btn" data-url="/deletechat" data-user="@Model.CustomerId" data-partner="@chatUser.Id">Trash</button>
                        }                   
                    </div>
                </div>
            </div>
        }      
    </div>
    <input type="hidden" id="chatStatusId" name="chatStatusId" value="@Model.isTrash">
} 
else
{
    <p>No messages yet</p>
}
<script>
    $(".user-chat").click(function (e) {
        $('.chat-conversation-body').html("");
        $('#load-chat').show();
        //$('.chat-messages').html("");
        var chatUrl = $(e.delegateTarget).attr('data-url');
        $.get(chatUrl, function (data) {
            productContent = $(data);
            $('#load-chat').hide();
            $('.chat-conversation-body').html(productContent);
            //$('.chat-messages').html(productContent);
            if ($('.chat-messages').length) {
                $(window).resize(function () {
                    setChatMessagesHeight();
                });

                setChatMessagesHeight();
            }
        })
    });
    
    $(".chat-delete-btn").click(function (e) {
        setChatStatus(e);
    });

    $(".chat-resume-btn").click(function (e) {
        setChatStatus(e);
    });

    // function setChatStatus(e) {
    //     e.preventDefault();
    //     var chatUrl = $(e.delegateTarget).attr('data-url');
    //     var userId = $(e.delegateTarget).attr('data-user');
    //     var pId = $(e.delegateTarget).attr('data-partner');
    //     $('.chat-messages').html("");
    //     $(this).parent().parent().parent().remove();
    //     $.post(chatUrl, { vendorId: userId, partnerId: pId }, function (data) {
    //         productContent = $(data);
    //         //$('.chat-conversation-body').html(productContent);
    //     })
    // }

    function setChatStatus(e) {
        e.preventDefault();
        var chatUrl = $(e.delegateTarget).attr('data-url');
        var userId = $(e.delegateTarget).attr('data-user');
        var pId = $(e.delegateTarget).attr('data-partner');
        $('.chat-messages').html("");
        $(this).parent().parent().parent().remove();
        $('.chat-users').html("<h3>Loading...</h3>");
        var formData = new FormData();
        //formData.append("chatStatus", chatStatus);
        formData.append("vendorId", userId);
        formData.append("partnerId", pId);

        $.ajax({
            type: "POST",
            url: chatUrl,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                productContent = $(data.view);
                $('.chat-users').html(productContent);
                
            },
        });
    }

    if ($('.chat-messages').length) {
        $(window).resize(function () {
            setChatMessagesHeight();
        });

        setChatMessagesHeight();
    }  

    function setChatMessagesHeight() {
        var messageHeight = $('.chat-users').height() - 93 - 71;
        $('.chat-messages').css('height', messageHeight);
    }

</script>