@model CategoryListModel

@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@using Nop.Web.Framework.Infrastructure
@using System.Text.RegularExpressions;
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts("Categories");
    //meta
    //Html.AddMetaDescriptionParts(Model.MetaDescription);
    //Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("vendorList");
}

<header>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-md-4 logoContainer">
                <h1>sinswap</h1>
                <a href="@Url.RouteUrl("HomePage")">
                    <img class="logo" title="Sinning is Winning" alt="Sinswap" src="/Themes/Sinswap/content/images/logoVendor.svg">
                </a>
            </div>

            @await Component.InvokeAsync("Header")

        </div>

        <div class="row">
            <div class="col-12 payoffContainer">
                <div class="payoff">Our Catgories</div>
            </div>
        </div>

    </div>
</header>

<div class="page category-page">
    <div class="page-body">
        <div class="container firstContainer trendingCategoriesContainer">
            <div class="row breadcrumbRow">
                <div class="col-12 breadcrumbContainer">
                    <div class="breadcrumbBg">
                        <a href="/" class="home">Home</a> <div class="divider">/</div> Our vendors
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="flex-row row no-gutters">
                        @foreach (var item in Model.Categories)
                        {
                            <div class="col-6 col-lg-3">
                                <div class="categoryCard @{if (!string.IsNullOrEmpty(@item.ParentCategoryName)) {@item.ParentCategoryName.ToLower()}}" style="background-image: url('@item.PictureModel.ImageUrl')">
                                    <div class="sellers"><i class="fa fa-user"></i> <span>2.032</span></div>
                                    <div class="category"><a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">@item.Name <span>123</span></a></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @{
                var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
            }

            @if (!pager.IsEmpty())
            {
                <div class="pager">
                    @pager
                </div>
            }
        </div>
    </div>
</div>
