@model VendorModel
@using Nop.Core.Domain.Seo
@using System.Text.RegularExpressions
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings

@* Vendor Page == Shop Page *@
<div class="container firstContainer vendorInfoContainer">
    <div class="row">

        @await Component.InvokeAsync("VendorProductRating", new { vendorId = Model.Id })

        <div class="col-12 order-1 order-lg-2 col-lg-6 text-center avatarContainer">
            <h1><span>Sinswap store: </span>@Model.Name</h1>
            <div class="avatar" style="background-image: url('@Model.PictureUrl');"></div>
        </div>

        <div class="col-8 order-3 order-lg-3 col-lg-3 text-right metaContainer">
            <p><span class="age">@Model.Age</span>, <span class="city">@Model.City</span>, <span class="country">@Model.Country</span></p>
        </div>

    </div>
</div>



<nav class="container-fluid sticky-top">
    <div class="row">

        <div class="container vendorMenuContainer">
            <div class="row">

                <div class="col-6 order-1 order-lg-1 col-lg-2 col-xl-3 text-left donationContainer">
                    <div class="donationBtn">
                        <a href="#" class="btn btn-primary">Donate</a>
                    </div>
                </div>

                <div class="col-12 order-3 order-lg-2 col-lg-8 col-xl-6 text-center submenuContainer">
                    <nav class="vendorMenu">
                        <a href="#shop" class="menuLink">Shop</a>
                        <a href="#aboutme" class="menuLink">About me</a>
                        <a href="#media" class="menuLink">Media</a>
                        <a href="#reviews" class="menuLink">Reviews</a>
                        <a href="#messageboard" class="menuLink">Message board</a>
                        <a href="#faq" class="menuLink">FAQ</a>
                    </nav>
                </div>

                <div class="col-6 order-2 order-lg-3 col-lg-2 col-xl-3 text-right socialContainer">
                    <a href="#" class="socialLink"><i class="fab fa-twitch"></i></a>
                    <a href="#" class="socialLink"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="socialLink"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="socialLink"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="socialLink"><i class="fab fa-twitter"></i></a>
                    @using (Html.BeginForm("followme", "vendor", FormMethod.Post))
                    {
                        @Html.Hidden("vendorId", Model.Id)
                        @Html.Hidden("vendorSeName", Model.SeName)
                        <div class="followBtn">                           
                            <button type="submit" class="btn btn-primary">Follow me</button>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</nav>



@await Component.InvokeAsync("VendorProduct", new { vendorId = Model.Id })

<a id="aboutme"></a>
<div class="container-fluid vendorPersonalQuoteContainer bgGrey2">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-lg-6 personalContainer">
                        <p>
                            @Html.Raw(Model.Description)
                        </p>
                    </div>
                    <div class="col-12 col-lg-6 quoteContainer">
                        <blockquote>
                            @Model.VendorNotes.FirstOrDefault()?.Note
                        </blockquote>
                        <div class="quoteAuthor">- @Model.Name -</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@await Component.InvokeAsync("VendorPicture", new { vendorId = Model.Id, size = 800 })

<div class="container-fluid dividerContainer bgGrey2">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col divider"></div>
                    <a id="reviews"></a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid vendorPremiumContentContainer bgGrey2">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="flex-row row">
                    <div class="col-12 col-lg-6 vendorSmallTalkContainer">
                        <div class="smallTalkHeader">
                            <h2>Small talk</h2>
                            <h3>a short interview with <span>@Model.Name</span></h3>
                            <div class="headerImg" style="background-image: url('@Model.PictureUrl');"></div>
                        </div>
                        @await Component.InvokeAsync("VendorSmallTalk", new { vendorId = Model.Id, amount = 6 })
                    </div>
                    <div class="col-12 col-lg-6 vendorReviewFavoriteContainer">
                        <div class="container-fluid">
                            <div class="row">                                                             
                                @await Component.InvokeAsync("VendorReview", new { vendorId = Model.Id })
                            </div>
                            <div class="row">
                                @await Component.InvokeAsync("VendorFavCustomer", new { vendorId = Model.Id, amount = 10 })
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<a id="messageboard"></a>
@await Component.InvokeAsync("VendorStory", new { vendorId = Model.Id, vendorSeName=Model.SeName, amount = 10 })

@await Component.InvokeAsync("VendorFaq", new { vendorId = Model.Id, amount = 3 })


<!-- Product modal -->
<div class="modal fade productModal" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>*@
            <div class="modal-body">
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>


<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>