@model VendorModel
@using Nop.Core.Domain.Seo
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@* Vendor Page == Shop Page *@
<div class="container vendorInfoContainer">
    <div class="row">

        <div class="col-4 order-2 order-lg-1 col-lg-3 text-left starsContainer">
            <div class="ratingStars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>

            <div class="ratingStats">
                <a href="#">36 Reviews</a>
                <a href="#">42 items sold</a>
            </div>
        </div>

        <div class="col-12 order-1 order-lg-2 col-lg-6 text-center avatarContainer">
            <h1><span>Sinswap store: </span>@Model.Name</h1>
            @*<div class="avatar"><img src="/Themes/Sinswap/Content/images/vendorAvatar.jpg" /></div>*@
            <div class="avatar"><img src="@Model.PictureUrl" /></div>
        </div>

        <div class="col-8 order-3 order-lg-3 col-lg-3 text-right metaContainer">
            <p><span class="age">24</span>, <span class="city">Kaapstad</span>, <span class="country">South Africa</span></p>
        </div>

    </div>
</div>



<nav class="container-fluid sticky-top">
    <div class="row">

        <div class="container vendorMenuContainer">
            <div class="row">

                <div class="col-6 order-1 order-lg-1 col-lg-2 col-xl-3 text-left donationContainer">
                    <div class="donationBtn">
                        <a href="#" class="btn btn-primary">Donate</a>
                    </div>
                </div>

                <div class="col-12 order-3 order-lg-2 col-lg-8 col-xl-6 text-center submenuContainer">
                    <nav class="vendorMenu">
                        <a href="#shop" class="menuLink">Shop</a>
                        <a href="#aboutme" class="menuLink">About me</a>
                        <a href="#media" class="menuLink">Media</a>
                        <a href="#reviews" class="menuLink">Reviews</a>
                        <a href="#messageboard" class="menuLink">Message board</a>
                        <a href="#faq" class="menuLink">FAQ</a>
                    </nav>
                </div>

                <div class="col-6 order-2 order-lg-3 col-lg-2 col-xl-3 text-right socialContainer">
                    <a href="#" class="socialLink"><i class="fab fa-twitch"></i></a>
                    <a href="#" class="socialLink"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="socialLink"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="socialLink"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="socialLink"><i class="fab fa-twitter"></i></a>
                    <div class="followBtn">
                        <a href="#" class="btn btn-primary">Follow me</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</nav>



@await Component.InvokeAsync("VendorProduct", new { vendorId = Model.Id })

@*<a id="shop"></a>
    <div class="container vendorCategoriesContainer">
        <div class="row">
            <div class="col-12">
                <h2>You can buy all of these from me</h2>

                <div class="flex-row row no-gutters">

                    <div class="col-6 col-lg-3">
                        <div class="categoryCard clothing" style="background-image: url('/Themes/Sinswap/content/images/dummyVendorCategories.png')">
                            <div class="category">
                                <a href="#">High heels</a>
                                <div class="priceLabel">from</div>
                                <div class="price">&euro;70<sup>.00</sup></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="categoryCard food" style="background-image: url('/Themes/Sinswap/content/images/dummyVendorCategories.png')">
                            <div class="category">
                                <a href="#">Cucumbers</a>
                                <div class="priceLabel">from</div>
                                <div class="price">&euro;70<sup>.00</sup></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="categoryCard body" style="background-image: url('/Themes/Sinswap/content/images/dummyVendorCategories.png')">
                            <div class="category">
                                <a href="#">Bath water</a>
                                <div class="priceLabel">from</div>
                                <div class="price">&euro;70<sup>.00</sup></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="categoryCard clothing" style="background-image: url('/Themes/Sinswap/content/images/dummyVendorCategories.png')">
                            <div class="category">
                                <a href="#">Yogapants</a>
                                <div class="priceLabel">from</div>
                                <div class="price">&euro;70<sup>.00</sup></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="categoryCard clothing" style="background-image: url('/Themes/Sinswap/content/images/dummyVendorCategories.png')">
                            <div class="category">
                                <a href="#">Sports bras</a>
                                <div class="priceLabel">from</div>
                                <div class="price">&euro;70<sup>.00</sup></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="categoryCard service" style="background-image: url('/Themes/Sinswap/content/images/dummyVendorCategories.png')">
                            <div class="category">
                                <a href="#">GFE</a>
                                <div class="priceLabel">from</div>
                                <div class="price">&euro;70<sup>.00</sup></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="categoryCard clothing" style="background-image: url('/Themes/Sinswap/content/images/dummyVendorCategories.png')">
                            <div class="category">
                                <a href="#">Panties</a>
                                <div class="priceLabel">from</div>
                                <div class="price">&euro;70<sup>.00</sup></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="categoryCard food" style="background-image: url('/Themes/Sinswap/content/images/dummyVendorCategories.png')">
                            <div class="category">
                                <a href="#">Cucumber</a>
                                <div class="priceLabel">from</div>
                                <div class="price">&euro;25<sup>.00</sup></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="categoryCard clothing" style="background-image: url('/Themes/Sinswap/content/images/dummyVendorCategories.png')">
                            <div class="category">
                                <a href="#">Vibrator</a>
                                <div class="priceLabel">from</div>
                                <div class="price">&euro;100<sup>.00</sup></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="categoryCard object" style="background-image: url('/Themes/Sinswap/content/images/dummyVendorCategories.png')">
                            <div class="category">
                                <a href="#">Special request</a>
                                <div class="priceLabel">from</div>
                                <div class="price">&euro;250<sup>.00</sup></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>*@


<a id="aboutme"></a>
<div class="container-fluid vendorPersonalQuoteContainer bgGrey2">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-lg-6 personalContainer">
                        <p>
                            @Model.Description
                        </p>
                    </div>
                    <div class="col-12 col-lg-6 quoteContainer">
                        <blockquote>
                            @Model.VendorNotes.FirstOrDefault()?.Note
                        </blockquote>
                        <div class="quoteAuthor">- @Model.Name -</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@await Component.InvokeAsync("VendorPicture", new { vendorId = Model.Id, size = 800 })
@*<a id="media"></a>
<div class="container-fluid vendorMediaContainer bgGrey2">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="lg_vendorMedia" class="vendorMediaSlide">
                            <div class="vendorMediaCard">
                                <a href="/Themes/Sinswap/Content/images/vendorBackground.jpg" data-lg-size="1600-800">
                                    <img src="/Themes/Sinswap/Content/images/vendorBackground.jpg" />
                                </a>
                            </div>
                            <div class="vendorMediaCard">
                                <a href="/Themes/Sinswap/Content/images/vendorBackground.jpg" data-lg-size="1600-800">
                                    <img src="/Themes/Sinswap/Content/images/vendorBackground.jpg" />
                                </a>
                            </div>
                            <div class="vendorMediaCard">
                                <a href="/Themes/Sinswap/Content/images/vendorBackground.jpg" data-lg-size="1600-800">
                                    <img src="/Themes/Sinswap/Content/images/vendorBackground.jpg" />
                                </a>
                            </div>
                            <div class="vendorMediaCard">
                                <a href="/Themes/Sinswap/Content/images/vendorAvatar.jpg" data-lg-size="400-500">
                                    <img src="/Themes/Sinswap/Content/images/vendorAvatar.jpg" />
                                </a>
                            </div>
                            <div class="vendorMediaCard">
                                <a href="/Themes/Sinswap/Content/images/vendorBackground.jpg" data-lg-size="1600-800">
                                    <img src="/Themes/Sinswap/Content/images/vendorBackground.jpg" />
                                </a>
                            </div>
                            <div class="vendorMediaCard">
                                <a href="/Themes/Sinswap/Content/images/vendorAvatar.jpg" data-lg-size="400-500">
                                    <img src="/Themes/Sinswap/Content/images/vendorAvatar.jpg" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@



<div class="container-fluid dividerContainer bgGrey2">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col divider"></div>
                    <a id="reviews"></a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid vendorPremiumContentContainer bgGrey2">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="flex-row row">
                    <div class="col-12 col-lg-6 vendorSmallTalkContainer">
                        <div class="smallTalkHeader">
                            <h2>Small talk</h2>
                            <h3>a short interview with <span>@Model.Name</span></h3>
                            <img src="@Model.PictureUrl" />
                        </div>
                        @await Component.InvokeAsync("VendorSmallTalk", new { vendorId = Model.Id, amount = 6 })
                        @*<div class="qaContainer">
                            <div class="bubble question">
                                <p>Question 1</p>
                            </div>
                            <div class="bubble answer">
                                <p>
                                    Really long answer so it goes on multiple lines.
                                    Let's see how this will look... I'm really curious.
                                    I hate temporal mechanics !
                                </p>
                            </div>
                            <div class="bubble question">
                                <p>Question 1</p>
                            </div>
                            <div class="bubble answer">
                                <p>
                                    Really long answer so it goes on multiple lines.
                                    Let's see how this will look... I'm really curious.
                                    I hate temporal mechanics !
                                </p>
                            </div>
                            <div class="bubble question">
                                <p>This is a really long question ?</p>
                            </div>
                            <div class="bubble answer">
                                <p>
                                    Really long answer so it goes on multiple lines.
                                    Let's see how this will look... I'm really curious.
                                    I hate temporal mechanics !
                                </p>
                            </div>
                            <div class="bubble question">
                                <p>Question 1</p>
                            </div>
                            <div class="bubble answer">
                                <p>
                                    Really long answer so it goes on multiple lines.
                                    Let's see how this will look... I'm really curious.
                                    I hate temporal mechanics !
                                </p>
                            </div>
                            <div class="bubble question">
                                <p>Question 1</p>
                            </div>
                            <div class="bubble answer">
                                <p>
                                    Really long answer so it goes on multiple lines.
                                    Let's see how this will look... I'm really curious.
                                    I hate temporal mechanics !
                                </p>
                            </div>
                            <div class="bubble question">
                                <p>Question 1</p>
                            </div>
                            <div class="bubble answer">
                                <p>
                                    Really long answer so it goes on multiple lines.
                                    Let's see how this will look... I'm really curious.
                                    I hate temporal mechanics !
                                </p>
                            </div>
                        </div>*@
                    </div>
                    <div class="col-12 col-lg-6 vendorReviewFavoriteContainer">
                        <div class="container-fluid">

                            <div class="row">
                                @await Component.InvokeAsync("VendorReview", new { vendorId = Model.Id })
                            </div>

                            <div class="row">
                                <div class="col-12 vendorFavouritesContainer">
                                    <h2>These are my favorite customers</h2>

                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 col-md-7">
                                                <div class="top3">1. <span>ThickDaddy69</span></div>
                                                <div class="top3">2. <span>GirthMaster2000</span></div>
                                                <div class="top3">3. <span>PeterFile</span></div>
                                                <div class="top5">4. <span>M.Borsato</span></div>
                                                <div class="top5">5. <span>SeatSniffer</span></div>
                                            </div>
                                            <div class="col-12 col-md-5">
                                                <div class="top10">6. <span>PantyPimp</span></div>
                                                <div class="top10">7. <span>SnailTrail</span></div>
                                                <div class="top10">8. <span>Mr12Inch</span></div>
                                                <div class="top10">9. <span>SugaDaddy070</span></div>
                                                <div class="top10">10. <span>Curvy-N-Pervy</span></div>
                                                <img src="/Themes/Sinswap/Content/images/favoriteSignature.gif" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<a id="messageboard"></a>
<div class="container-fluid vendorBlogContainer">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="blogHeader">
                    <h2>Stories &amp; answers</h2>
                    <p>Get to know me... Ask me anything!</p>
                </div>

                <div class="blogListContainer">
                    <div class="questionFormContainer">
                        <form>
                            <div class="form-group">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <label for="username" class="sr-only">Your name</label>
                                            <input type="text" class="form-control" id="username" placeholder="Your name">
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <label for="email" class="sr-only">Your emailaddress</label>
                                            <input type="email" class="form-control" id="email" placeholder="Your emailaddress">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="question" class="sr-only">Ask me anything!</label>
                                                <textarea class="form-control" id="question" rows="6" placeholder="Ask me anything!"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 submitContainer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="blogItem">
                        <div class="body">
                            <p>
                                Sed ultricies tempus tellus, ultrices imperdiet mi. Maecenas aliquet
                                metus euismod tellus dignissim sodales. Mauris nec quam vitae arcu
                                imentum molestie. Sed cursus est vitae velit porttitor sodales.
                            </p>

                            <div class="divider"></div>

                            <img src="/Themes/Sinswap/Content/images/dummyBlog.jpg" />

                            <div class="publishdate">04/02/20</div>
                        </div>
                    </div>
                    <div class="blogItem">
                        <div class="body">
                            <p>
                                Sed ultricies tempus tellus, ultrices imperdiet mi. Maecenas aliquet
                                metus euismod tellus dignissim sodales. Mauris nec quam vitae arcu
                                imentum molestie. Sed cursus est vitae velit porttitor sodales.
                            </p>

                            <div class="publishdate">04/02/20</div>
                        </div>
                    </div>
                    <div class="blogItem">
                        <div class="body">
                            <img src="/Themes/Sinswap/Content/images/dummyBlog.jpg" />

                            <div class="publishdate">04/02/20</div>
                        </div>
                    </div>
                    <div class="blogItem">
                        <div class="body">
                            <div class="title">
                                ThickDaddy69
                                <span>asked</span>
                            </div>

                            <div class="qaContainer">
                                <div class="bubble question">
                                    <p>Sed ultricies tempus tellus, ultrices imperdiet mi.</p>
                                </div>
                                <div class="bubble answer">
                                    <p>Mauris nec quam vitae arcu imentum molestie.</p>
                                </div>
                            </div>

                            <div class="publishdate">04/02/20</div>
                        </div>
                    </div>
                    <div class="blogItem">
                        <div class="body">
                            <p>
                                Sed ultricies tempus tellus, ultrices imperdiet mi. Maecenas aliquet
                                metus euismod tellus dignissim sodales. Mauris nec quam vitae arcu
                                imentum molestie. Sed cursus est vitae velit porttitor sodales.
                            </p>

                            <div class="divider"></div>

                            <img src="/Themes/Sinswap/Content/images/dummyBlog.jpg" />

                            <div class="publishdate">04/02/20</div>
                        </div>
                    </div>
                    <div class="blogItem">
                        <div class="body">
                            <p>
                                Sed ultricies tempus tellus, ultrices imperdiet mi. Maecenas aliquet
                                metus euismod tellus dignissim sodales. Mauris nec quam vitae arcu
                                imentum molestie. Sed cursus est vitae velit porttitor sodales.
                            </p>

                            <div class="publishdate">04/02/20</div>
                        </div>
                    </div>
                    <div class="blogItem">
                        <div class="body">
                            <img src="/Themes/Sinswap/Content/images/dummyBlog.jpg" />

                            <div class="publishdate">04/02/20</div>
                        </div>
                    </div>
                    <div class="blogItem">
                        <div class="body">
                            <div class="title">
                                ThickDaddy69
                                <span>asked</span>
                            </div>

                            <div class="qaContainer">
                                <div class="bubble question">
                                    <p>Sed ultricies tempus tellus, ultrices imperdiet mi.</p>
                                </div>
                                <div class="bubble answer">
                                    <p>Mauris nec quam vitae arcu imentum molestie.</p>
                                </div>
                            </div>

                            <div class="publishdate">04/02/20</div>
                        </div>
                    </div>                    <div class="blogItem">
                        <div class="body">
                            <p>
                                Sed ultricies tempus tellus, ultrices imperdiet mi. Maecenas aliquet
                                metus euismod tellus dignissim sodales. Mauris nec quam vitae arcu
                                imentum molestie. Sed cursus est vitae velit porttitor sodales.
                            </p>

                            <div class="divider"></div>

                            <img src="/Themes/Sinswap/Content/images/dummyBlog.jpg" />

                            <div class="publishdate">04/02/20</div>
                        </div>
                    </div>
                    <div class="blogItem">
                        <div class="body">
                            <p>
                                Sed ultricies tempus tellus, ultrices imperdiet mi. Maecenas aliquet
                                metus euismod tellus dignissim sodales. Mauris nec quam vitae arcu
                                imentum molestie. Sed cursus est vitae velit porttitor sodales.
                            </p>

                            <div class="publishdate">04/02/20</div>
                        </div>
                    </div>
                    <div class="blogItem">
                        <div class="body">
                            <img src="/Themes/Sinswap/Content/images/dummyBlog.jpg" />

                            <div class="publishdate">04/02/20</div>
                        </div>
                    </div>
                    <div class="blogItem">
                        <div class="body">
                            <div class="title">
                                ThickDaddy69
                                <span>asked</span>
                            </div>

                            <div class="qaContainer">
                                <div class="bubble question">
                                    <p>Sed ultricies tempus tellus, ultrices imperdiet mi.</p>
                                </div>
                                <div class="bubble answer">
                                    <p>Mauris nec quam vitae arcu imentum molestie.</p>
                                </div>
                            </div>

                            <div class="publishdate">04/02/20</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<a id="faq"></a>
<div class="container-fluid vendorFaqContainer">
    <div class="row">
        <div class="col-12">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Frequently Asked Store Related Questions</h2>

                        <div id="accordionFaq">
                            <a href="#" class="question collapsed" data-toggle="collapse" data-target="#answer1" aria-expanded="false" aria-controls="answer1">
                                <i class="fas fa-caret-right"></i> Question 1
                            </a>
                            <div id="answer1" class="collapse" data-parent="#accordionFaq">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>

                            <a href="#" class="question collapsed" data-toggle="collapse" data-target="#answer2" aria-expanded="false" aria-controls="answer2">
                                <i class="fas fa-caret-right"></i> Question 2
                            </a>
                            <div id="answer2" class="collapse" data-parent="#accordionFaq">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>

                            <a href="#" class="question collapsed" data-toggle="collapse" data-target="#answer3" aria-expanded="false" aria-controls="answer3">
                                <i class="fas fa-caret-right"></i> Question 3
                            </a>
                            <div id="answer3" class="collapse" data-parent="#accordionFaq">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>































<!--<div class="page vendor-page">
    <div class="page-title">
        <h1>@Model.Name</h1>
    </div>
    <div class="page-body">-->
@*description*@
<!--@if (!string.IsNullOrWhiteSpace(Model.Description))
{
    <div class="vendor-description">
        @Html.Raw(Model.Description)
    </div>
}-->
@*contact vendor*@
<!--@if (Model.AllowCustomersToContactVendors)
{
    <div class="contact-vendor">
        <input type="button" value="@T("ContactVendor")" class="button-2 contact-vendor-button" onclick="setLocation('@Url.RouteUrl("ContactVendor", new { vendorId = Model.Id })')" />
    </div>
}

@if (Model.Products.Count > 0)
{
    @await Html.PartialAsync("_CatalogSelectors", Model.PagingFilteringContext)
}-->
@*product list*@
<!--@if (Model.Products.Count > 0)
        {
            <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
                <div class="item-grid">
                    @foreach (var product in Model.Products)
                    {
                        <div class="item-box">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>-->
